@model List<EventRegistrationModel>
@{
    ViewData["Title"] = "Danh sách đăng ký tham gia sự kiện: " + ViewBag.EventName;
    Layout = "~/Areas/Admin/Shared/_LayoutAdmin.cshtml";
}

<h4 style="color: blue;">@ViewData["Title"]</h4>

<table id="registrationTable" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Tên khách hàng</th>
            <th scope="col">Email</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Ngày đăng ký</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var registration in Model)
        {
            <tr>
                <td>@registration.Customers.CustomerName</td>
                <td>@registration.Customers.CustomerEmail</td>
                <td>@registration.Customers.CustomerPhone</td>
                <td>@registration.RegistrationDate.ToLocalTime().ToString("dd/MM/yyyy : HH:mm")</td>
            </tr>
        }
    </tbody>
</table>
<style>
    /* Tùy chỉnh màu sắc cho các nút */
    .dt-buttons .btn {
        color: #fff;
    }

    .dt-buttons .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .dt-buttons .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

    .dt-buttons .btn-success {
        background-color: #28a745;
        border-color: #28a745;
    }

        .dt-buttons .btn-success:hover {
            background-color: #218838;
            border-color: #218838;
        }

    .dt-buttons .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }

        .dt-buttons .btn-danger:hover {
            background-color: #c82333;
            border-color: #c82333;
        }

    .dt-buttons .btn-info {
        background-color: #17a2b8;
        border-color: #17a2b8;
    }

        .dt-buttons .btn-info:hover {
            background-color: #138496;
            border-color: #138496;
        }

    /* Khoảng cách giữa icon và chữ */
    .dt-button .fa {
        margin-right: 5px;
    }
</style>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#registrationTable').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/vi.json"
                },
                "paging": true,
                "ordering": true,
                "info": true,
                "pageLength": 10,
                "order": [[0, "asc"]],
                "columnDefs": [{
                    "targets": [2],
                    "orderable": false
                }],
                layout: {
                    topStart: {
                        buttons: [
                            {
                                extend: 'copy',
                                text: '<i class="fas fa-copy"></i> Sao chép',
                                className: 'btn btn-primary'
                            },
                            {
                                extend: 'csv',
                                text: '<i class="fas fa-file-csv"></i> CSV',
                                className: 'btn btn-primary'
                            },
                            {
                                extend: 'excel',
                                text: '<i class="fas fa-file-excel"></i> Excel',
                                className: 'btn btn-success'
                            },
                            {
                                extend: 'pdf',
                                text: '<i class="fas fa-file-pdf"></i> PDF',
                                className: 'btn btn-danger'
                            },
                            {
                                extend: 'print',
                                text: '<i class="fas fa-print"></i> In',
                                className: 'btn btn-info'
                            }
                        ]
                    }
                }
 
            });
        });

    </script>

}
