@model QL_ToChucSuKien_TTSKCĐVHTKNTBD_Master.ViewModels.EventsViewModel
@{
    ViewData["Title"] = "Danh sách sự kiện đã kết thúc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="text-center mb-4">@ViewData["Title"]</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        @if (Model.RunningEvents != null && Model.RunningEvents.Any())
        {
            @foreach (var item in Model.RunningEvents)
            {
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img class="card-img-top" src="@item.ImgUrl" alt="Card image cap" style="object-fit: cover; height: 200px;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@item.EventName</h5>
                            <p class="card-text text-truncate">@item.EventDescription</p>
                            <div class="mt-auto">
                                <p class="card-text m-0 text-muted"><small>Sự kiện kết thúc: @item.EventEndDate.ToString("HH:mm")</small></p>
                                <p class="card-text text-muted"><small>Ngày: @item.EventEndDate.ToString("dd/MM/yyyy")</small></p>
                                <a class="btn btn-primary mt-auto btnOpenRegisterModal" data-event-id="@item.EventID">Đăng ký tham gia</a>
                                <a href="@Url.Action("Detail", "Events", new { eventId = item.EventID })" class="btn btn-outline-dark mt-auto">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-md-12">
                <div class="alert alert-info text-center" role="alert">
                    <i class="bi bi-info-circle"></i> Hiện không có sự kiện nào đã kết thúc.
                </div>
            </div>
        }
    </div>
</div>

<div class="row mt-4">
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-ended d-flex justify-content-center">
            @if (Model.RunningEvents != null && Model.RunningEvents.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-endedPageNumber="@(Model.RunningEvents.PageIndex - 1)">Quay lại</a>
                </li>
            }
            @for (int i = 1; i <= Model.RunningEvents?.TotalPages; i++)
            {
                <li class="page-item @(i == Model.RunningEvents.PageIndex ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-endedPageNumber="@i">@i</a>
                </li>
            }
            @if (Model.RunningEvents != null && Model.RunningEvents.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-endedPageNumber="@(Model.RunningEvents.PageIndex + 1)">Tiếp tục</a>
                </li>
            }
        </ul>
    </nav>
</div>