@model PaginatedList<QL_ToChucSuKien_TTSKCĐVHTKNTBD_Master.Models.EventsModel>
<div class="row m-5">
    <div class="col-md-5">
        <div class="form-group">
            <select class="form-control" asp-items="@ViewBag.SelectStatus">
                <option value="">-- Danh mục sự kiện --</option>
            </select>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <select class="form-control" asp-items="@ViewBag.SelectStatus">
                <option value="">-- Địa điểm tổ chức --</option>
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <a href="" class="btn btn-primary">Tìm kiếm</a>
        </div>
    </div>
</div>
<div class="row p-3">
    <h5>Sự kiện đang diễn ra</h5>
    <div class="card-group">
        @foreach (var item in Model)
        {
            <div class="card">
                <img class="card-img-top" src="~/uploads/@item.ImgUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.EventName</h5>
                    <p class="card-text">@item.EventDescription</p>
                    <p class="card-text"><small class="text-muted">Sự kiện sẽ hết vào @item.EventEndDate</small></p>
                    <a href="#" class="btn btn-primary">Đăng ký tham gia</a>
                </div>
            </div>
        }
    </div>
</div>


<div class="row mt-4">
    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center">
            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)">Quay lại</a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
                </li>
            }
            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)">Tiếp tục</a>
                </li>
            }
        </ul>
    </nav>
</div>
